@import "../../assets//colors.scss";
.projectCard {
  width: 300px;
  max-width: 35%;
  border: $lightGray3;
  border-radius: 20px;
  background-color: $whiteClassic;
position: relative;
  img {
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 11rem;
    object-fit: cover;
  }
  .cardContent {
    padding: 1rem;
    height: 13rem;
    .description {
      font-size: .8rem;
      height: 6rem;
      overflow-y: scroll;
    }
    .tags {
      color: $blue;
      font-size: .85rem;
    }
    .btns {
      position: absolute;
      bottom: 0;
      margin: 0.5rem 0;
      font-size: .7rem;
      .viewDemo {
        background-color: $red;
        color: white;
        margin: 0.3rem;
        padding: .5rem .5rem;
        transition: all 0.2s ease-in-out;
        &:hover {
            border: 1px solid $red;
            scale: 1.02;
        }
    }
    .viewCode {
          background-color: $lightGray2;
        margin: 5px;
        transition: all 0.2s ease-in-out;
        &:hover {
          border: 1px solid $blackClassic;
          scale: 1.02;
        }
      }
    }
  }
  
::-webkit-scrollbar {
    width: 5px; // רוחב הגלילה
}

/* סגנון לכיתת האלמנט האופקי של הגלילה */
::-webkit-scrollbar-track {
    background-color: #f0f0f0; // רקע כללי
}

/* סגנון לאלמנט הגלילה עצמו */
::-webkit-scrollbar-thumb {
    background-color: #666; // רקע של קו הגלילה
    border-radius: 5px; // פינות מעגלות
}

/* הסתרת חיצים בגלילה */
::-webkit-scrollbar-button {
    display: none;
}

}
